<!--{%extends "base-layout.twig"%}-->

<!--{%block left_navlist%}-->
<div class="subnav">
    <div class="subnav-title">
		<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>奖品</span></a>
	</div>
	<ul class="subnav-menu">
	    <!--{%for item in top_nav.shop.child_menu%}-->
	    <li class="<!--{{url_current() == url(item.url) ? 'active' : ''}}-->"><a href="<!--{{url(item.url)}}-->"><!--{{item.name}}--></a></li>
	    <!--{%endfor%}-->		
	</ul>
</div>

<!--{%endblock%}-->