<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3>
					<i class="icon-edit"></i>
					编辑web社区首页礼包
				</h3>
				<div class="actions">
				</div>
			</div>
			<div class="box-content">
				<form id="form-activity" action="<!--{{url('web_forum/bbs/edit-home-giftbag',giftbag.bbs_giftbag_id)}}-->" method="POST" class="form-horizontal form-validate">
					<div class="control-group">
						<label class="control-label">标题</label>
						<div class="controls">
							<input type="text" name="title" class="input" value="<!--{{ giftbag.title }}-->" data-rule-required="true" data-msg-required="标题不能为空" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">剩余数</label>
						<div class="controls">
							<input type="text" name="last" class="input" value="<!--{{ giftbag.last }}-->" data-rule-required="true" data-msg-required="剩余数不能为空" data-rule-digits="true" data-msg-digits="请填写整数" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">价格（游币）</label>
						<div class="controls">
							<input type="text" name="price" class="input" value="<!--{{ giftbag.price }}-->" data-rule-required="true" data-msg-required="价格不能为空" data-rule-digits="true" data-msg-digits="请填写整数" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">是否显示</label>
						<div class="controls">
							<input name="show" data-on-color="success" data-on-text="显示" data-off-color="danger" data-off-text="不显示" class="my-checkbox" type="checkbox" <!--{% if giftbag.is_show %}-->checked<!--{% endif %}-->/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"></label>
						<div class="controls">
							<input type="submit" value="保存" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$('input').iCheck({
	checkboxClass: 'icheckbox_square-orange',
	radioClass: 'iradio_square-orange',
	increaseArea: '20%' // optional
});
$("[class='my-checkbox']").bootstrapSwitch();
var set_selected_game = function(game_id,game_name,icon){
	$.get('/web_forum/bbs/check-game-has-bbs',{'gid':game_id},function(resp){
		if(resp.state){
			$('#selected_game_id').val(game_id);
			$('#selected_game_icon').attr('src',icon);
			$('#selected_game_name').val(game_name);
		}else{
			alertify.error(resp.msg);
		}
	},'json');

};
$(function(){
    $('.select-pop-game').bind('click',function(){
        $.ajax({
            url:'/game/api/game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });
    });
});
</script>
<!--{%endblock%}-->