<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>屏蔽信息</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('v4message/filter/save')}}-->" method="POST" class="form-horizontal">
				<div class="control-group">
					<label for="textfield" class="control-label">屏蔽内容</label>
					<div class="controls">
						<textarea id="content" name="content" class="input-xxlarge" rows="5"><!--{{data.content}}--></textarea>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    <input type="hidden" name="id" value="<!--{{data.id}}-->"/>
				</div>
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<!--{%endblock%}-->   