<!--{%extends "sub-layout-user.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>用户信息</h3>
			</div>
			<div class="box-content">
				<form id="user-edit" action="<!--{{url('user/users/pwd')}}-->" method="POST" class='form-horizontal form-validate'>
				<input name="uid" type="hidden" value="<!--{{user.uid}}-->" />
				
				<div class="control-group">
					<label for="textfield" class="control-label">用户邮箱</label>
					<div class="controls">
						<input type="text" name="email" id="email" class="input-xlarge" value="<!--{{user.email}}-->">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">用户昵称</label>
					<div class="controls">
						<input type="text" name="nickname" id="nickname" class="input-xlarge" value="<!--{{user.nickname}}-->">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">登录密码</label>
					<div class="controls">
						<input type="password" name="newpassword" id="newpassword" class="input-xlarge"  data-rule-required="true" data-msg-required="密码不能为空" value="">
					</div>
				</div>
				<div class="form-actions">
					<button id="submit-btn" type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
jQuery(document).ready(function(){
	// binds form submission and fields to the validation engine
	jQuery("#user-edit").validationEngine();
});
</script>
<!--{%endblock%}-->