<!--{%extends "../sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>礼包导入</h3>
			</div>
			<div class="box-content">
				<form id="card_from" action="<!--{{url('v4giftbag/package/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
					<div class="control-group">
						<label class="control-label">礼包导入说明</label>
						<div class="controls">
							<span class="label">TXT文件导入</span>
							<p>请将要导入的卡密号写入一个TXT文件！</p>
						</div>
					</div>

                    <div class="row-fluid virtual">
                        <div class="span3">
                            <div class="control-group"  id="card-import">
                                <label class="control-label">礼包文件</label>
                                <div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail"style="max-width: 120px; max-height: 120px;">
                                                请选择文件
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"  id="uploadTxt" ></div>
                                        <div>
                                            <span class="btn btn-file uploadNow"><i class="icon-picture"></i><span class="fileupload-new">选择文件</span><span class="fileupload-exists">重新选择</span><input class="validate[condRequired[virtual]]" type="file" name='importFile' id="file_upload" /></span>
                                        </div><span class="add-on text-error  card-line" id="upload-kami"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <a class="btn btn-lime upload-card" style="display: none;" href="#">上传</a>卡密类产品 请上传卡密-不然会添加失败!
                        </div>
                    </div>



					<div class="control-group">
						<label class="control-label">礼包库名称</label>
						<div class="controls">
							<input type="text" name="cardDesc" id="cardDesc" data-rule-required="true" data-msg-required="请填写礼包库名称"  class="input-large" value="" />
						</div>
					</div>
                    <div id="clone_" >
                        <input type="hidden" name="tmp" id="tmp" value="">
                        <input type="hidden" name="filename" id="filename" value="">
                        <!--
                                                <input name="importFile2" class="input-file uniform_on" id="importFile2" type="file" size="19" >
-->
                                            </div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>提交入库</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<script src="/static/js/ajaxfileupload.js"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
	$(function(){
		$('input.datetimepicker').datetimepicker({format:'Y-m-d H:i:s',lang:'ch'});
		//$("input:file").uniform({'fileBtnText':'选择文件'});

        //var i=2;
        $(document).on('change','#file_upload',function(){
             $('#upload-kami').html("载入数据中...");
             $("#uploadTxt").html($("#file_upload").val());
             $.ajaxFileUpload({
				url:'/v4giftbag/package/file-count',
				type : 'post',
				secureuri :false,
				fileElementId :'file_upload',
				dataType : 'JSON',
				success : function (data){
					var dataObj=eval("("+data+")");
                    if(dataObj.errorCode == 0){
                        //$("#upload").html("<div class='uploader' id='uniform-fileInput'>"+$("#clone_").html()+"</div><span id='upload-kami'></span>");
                        //$("input:file").uniform({'fileBtnText':'选择文件'});
                        $('#upload-kami').html("上传卡密数为:"+dataObj.size);
						alertify.success('礼包数确认成功!');
                        $("#tmp").val(dataObj.file.tmp);
                        $("#filename").val(dataObj.file.filename);
                    }else{
						alertify.error(dataObj.errortxt);
						$('#upload-kami').html("载入数据错误");
                        $('#tmp,#filename').val('');
                    }
                    return ;
				}

			});

		});



		
	});
</script>
<!--{%endblock%}-->
