<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>
                    批量添加选定的用户
                </h3>
            </div>
            <div class="box-content">
                <div><textarea id="users" class="input-xxlarge" rows="5"></textarea></div>
                <div><a id="but-add" class="btn btn-primary">添加到“选定的用户”</a></div>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
    $(function() {
        $('#but-add').click(function(){
            var users = $('#users').val();
            console.log(users);
            if (!users) return false;
            $.post('/v4user/users/get-users-info', { users: users }, function (res) {
                if (res.success == '200') {
                    $.each(res.data, function(key, value){
                        var html = '<li><a href="javascript:void(0)" data-uid="'+value.uid+'" class="delete-selected-uid-ajax">'+value.nickname+'<i class="icon-trash"></i></a></li>';
                        $('#selected-pop-ul').prepend(html);
                    });
                    $('#selected-uids-count').text($('.delete-selected-uid-ajax').length);
                    alertify.success(res.msg);
                    setTimeout(function(){
                        location.reload();
                    },1000);
                } else {
                    alertify.error(res.msg);
                }
            },'json');

        });

    });

</script>
<!--{%endblock%}-->