@CHARSET "UTF-8";
body {margin:0 auto;}
ul {list-style:none;}
a {text-decoration: none;}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


.layout-top { height:35px;border-bottom:solid 2px #DDD;}
.layout-main { width:1000px;height:100%;overflow:hidden;margin:20px auto;}
.layout-footer { height:30px;border-top:solid 1px #DDD;}

.layout-main .side-left {float:left;width:22%;background:#E3E3E3;}
.layout-main .side-right {float:right;width:77%;}

.nav-box {}
.nav-box h2{}
.nav-box ul {}
.nav-box ul li {height:30px;line-height:30px;}

.wiki-table { border:solid 1px #DDD;border-top:none;border-right:none;}
.wiki-table th, .wiki-table td {
	border: 1px solid #E8EAEC;
	vertical-align: middle;
	padding: 0 10px;
	border-left:none;
	border-bottom:none;
}

.wiki-table th {
	background: #F3F4F5;
	height: 29px;
	font-weight: 700;
	font-size: 14px;
	text-align: left;
	color: black;
}

.wiki-table td {
	padding:7px 10px;
	line-height:20px;
	border-left:none;
	border-bottom:none;
}