<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>修改ChinaJoy公告</h3>
			</div>
			<div class="box-content">
				<form id="admin-add" action="<!--{{url('zt_activity/chinajoy/save/')}}-->" method="POST" enctype="multipart/form-data" class='form-horizontal form-validate'>

                <div class="control-group">
                    <label class="control-label">公告</label>
                    <div class="controls">
                        <input type="text" name="context" class="input-xxlarge" value="<!--{{result.context}}-->" data-rule-required="true" data-msg-required="公告不能为空" />
                        <span class="help-inline" for="context">公告不能为空</span>
                    </div>
                </div>
                    <div class="control-group">
                        <label class="control-label">公告宽度</label>
                        <div class="controls">
                            <input type="text" name="widthnumble" class="input-small form-vertical" value="<!--{{result.widthnumble|default(0)}}-->" data-rule-number="true" data-msg-number="此项可为空，只能是数字" />
                            <span class="help-inline" for="widthnumble">此项可为空</span>
                        </div>
                    </div>

				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>完成</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->

<!--{%endblock%}-->