<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>修改首页期待榜</h3>
			</div>
			<div class="box-content">
				<form id="admin-add" action="<!--{{url('zt_activity/hope/save/')}}-->" method="POST" enctype="multipart/form-data" class='form-horizontal form-validate'>

                <div class="control-group">
                    <label class="control-label">Ids</label>
                    <div class="controls">
                        <input type="text" name="ids" class="input-xxlarge" value="<!--{{result.ids}}-->" data-rule-required="true" data-msg-required="Ids不能为空" />
                        <span class="help-inline">此项不能为空，mobile 中的ID英文逗号分割 只能填写10个</span>
                    </div>
                </div>

				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>完成</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->

<!--{%endblock%}-->