<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>添加视频类型</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('cms/vtype/add')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data" id="videoForm">
					<div class="tab-content padding tab-content-inline tab-content-bottom">
						<div class="control-group">
							<label class="control-label">类型名称</label>
							<div class="controls">
								<input type="text" name="type_name" data-msg-required="类型名称不能为空" data-rule-required="true" class="input-large"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">排序</label>
							<div class="controls">
								<input type="text" name="sort" data-msg-required="排序" data-rule-required="true" class="input-large"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">是否置顶</label>
							<div class="controls">
								<input data-on-color="success" data-on-text="是" name="is_top" data-off-color="danger" data-off-text="否" class="my-checkbox" type="checkbox" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">平台</label>
							<div class="controls">
								<select name="platform">
									<option value="all">双平台</option>
									<option value="ios">IOS</option>
									<option value="android">Android</option>
								</select>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$("[class='my-checkbox']").bootstrapSwitch();
</script>
<!--{% endblock %}-->
